/* =========================
   Global Styles
========================= */
:root {
    /* Colors */
    --primary-color: #2E7D32;
    --primary-light: #4CAF50;
    --secondary-color: #1565C0;
    --accent-color: #F9A825;

    --text-dark: #212121;
    --text-light: #FAFAFA;

    --bg-light: #F5F5F5;
    --bg-dark: #1B2A1B;

    /* Typography */
    --font-family: "Tajawal", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

.tajawal-regular {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
    display: block;
}