/*Start navbar */
:root {
    --primary-color: #2E7D32;
    --accent-color: #F9A825;
    --text-light: #FAFAFA;
    --font-family: 'Tajawal', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
}

.tajawal-regular {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
}

.navbar__logo {
    width: 50px;
    border-radius: 100%;
}

.navbar__menu {
    display: flex;
    gap: 10px;
    list-style: none;
}

.navbar__link,
.cta {
    text-decoration: none;
    color: var(--text-light);
    transition: 0.3s;
}

.navbar__link:hover,
.cta:hover {
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 15px;
}

.navbar__link--dropdown {
    position: relative;
}

.navbar__dropdown {
    position: absolute;
    display: none;
    list-style: none;
}

.navbar__link--dropdown:hover .navbar__dropdown {
    text-align: center;
    background-color: var(--primary-color);
    width: 150px;
    height: 50px;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
}

